<div>
    <img src="http://localhost:8080/cms/imgs/index/logo_bottom.png" alt="" style="left: 0;">
    <div class="y-bottom-main">
        <div>
            <p><i></i><strong>产品</strong></p>
            <ul>
                <li>MTK2503开发版</li>
                <li>MTK2503开发版</li>
            </ul>
        </div>
        <div>
            <p><i></i><strong>开发者中心</strong></p>
            <ul>
                <li>快速入门</li>
                <li>设备SDK</li>
                <li>App SDK</li>
                <!-- <li>API 文档</li>
                <li>开源项目</li> -->
            </ul>
        </div>
        <div style="width: 320px;">
            <p><i></i><strong>联系我们</strong></p>
            <ul>
                <li  class="cellMe">
                  <div>
                      <img src="http://localhost:8080/cms/imgs/index/tel.png" alt="">
                      <span>010-8646-8781</span>
                  </div>
                </li>
                <li  class="cellMe" style="padding: 0;">
                  <div>
                      <img src="http://localhost:8080/cms/imgs/index/location.png" alt="">
                      <span>北京市朝阳区三间房东路1号<br>第38幢一层E区</span>
                  </div>
                </li>
            </ul>
        </div>
    </div>
    <img src="http://localhost:8080/cms/imgs/index/code.jpg" alt="" style="right: 0;width: 130px;height: 130px;">
</div>
