<div>
    <div style="position: relative;border-right: 1px solid #1f2933;height: 40px;width: 190px;float: left;">
        <img src="../../imgs/aboutUs/logo.png" alt="" style="position: absolute;display: block;cursor: pointer;" onclick="goIndex()">
    </div>
    <a href="javascript:void(0);" style="display: block;float: left;margin-left: 60px;color: #2f8be6;text-decoration: none;cursor: pointer;display: none;"  class="dow1">下载中心</a>
    <a href="javascript:void(0);" style="display: block;float: left;margin-left: 60px;color: #2f8be6;text-decoration: none;cursor: pointer;display: none;" class="documentico1">文档中心</a>
    <button style="float: right;background: #2f8be6;color: #fff;height: 40px;border: 0;border-radius: 20px;width: 140px;cursor: pointer;" onclick="goChildHomePage()">进入云平台</button>
    <div style="float: right;position: relative;margin-right: 30px;cursor: pointer;display: none;" class="documentico"  onclick="goDocumentC()">
        <img src="../../imgs/documentico.png" alt="" style="position: absolute;top: 0;bottom: 0;margin: auto;">
        <p style="color: #2f8be6;text-indent: 20px;">文档首页</p>
    </div>
    <div style="float: right;position: relative;margin-right: 30px;cursor: pointer;display: none;" class="dow" onclick="goToolDownload()">
        <img src="../../imgs/dow.png" alt="" style="position: absolute;top: 0;bottom: 0;margin: auto;">
        <p style="color: #2f8be6;text-indent: 20px;">常用下载</p>
    </div>
</div>
