<div>
    <div class="y-header-logo" onclick="goIndex()" style="cursor: pointer;">
        <img src="http://localhost:8080/cms/imgs/aboutUs/logo.png" alt="">
    </div>
</div>
<ul>
    <li class="active index" onclick="goIndex()">首页</li>
    <li class="coreProducts" onclick="goCoreProducts()">核心产品</li> 
    <li onclick="goDeveloperCenter()" class="developerCenter">开发者中心</li>
    <li onclick="goCaseLise()" class="caseList">客户案例</li>
    <li onclick="goAboutUs()" class="aboutUs">关于我们</li>
</ul>
<div class="y-header-button1">
    <a href="javascript:void(0);" onclick="register()" class="y-register">注册</a>
    <span class="y-fenge">|</span>
    <a href="javascript:void(0);" onclick="goLogin()" class="y-login">登录</a>
</div>
<div class="y-header-button2">
    <a href="javascript:void(0);" onclick="getOut()" class="y-out">退出</a>
    <span class="y-fenge">|</span>
    <a href="javascript:void(0);" class="y-userName" onclick="goPersonalInfo()">userName</a>
</div>
<div style="clear: both;height: 0;"></div>
