<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../imgs/logo.ico">
    <title>智云服</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../fromBeginningToEnd/fromBeginningToEnd.css">
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <script src="../../resource/jquery/jquery-1.8.3.js"></script>
    <script src="../../resource/cookie/cookie.js"></script>
    <script src="../../resource/js/getHeaderAndBottom.js"></script>
    <script src="../../resource/js/api.js"></script>
</head>
<body>
    <div id="titles" style="overflow: hidden;height: 0;">caseList</div>
    <!-- header -->
    <div  class="y-header-box">
        <div class="y-header"></div>
    </div>
    <!-- main -->
    <div class="y-caseList-main">
        <div  class="y-caseList-banner" style="position: relative;">
            <img src="../../imgs/caseList/banner.png" alt="" style="width: 100%;height: 100%;display: block;">
            <p style="text-align: center;color: #fff;font-size: 36px;width: 100%;line-height: 36px;position: absolute;top: 50%;margin-top: -18px;">————&nbsp;客户案例&nbsp;————</p>
        </div>
        <div class="y-caseList-list">
            <!-- <div class="y-caseList-slide">
                <div class="y-caseList-slide-left">
                    <h2><strong>北京天创科技有限公司</strong></h2>
                    <p>雷沃重工是目前国内最大的农业装备制造企业，智云服基于多年的农业行业应用经验依托GSM数字公众通信网络、全球卫星导航系统和地理信息系统技术，能够实时获取当前作业机械地理位置、航线、速度、作业任务、作业量和其他作业状态数据，并提供农机历史轨迹、检索和回放，为作业机手、农业生产管理单位和农机生产企业提供远程监控管理信息，辅助管理者进行作业调度，有效提高农业生产和农机管理的效率。</p>
                </div>
                <img class="y-caseList-slide-right">
            </div> -->
        </div>
    </div>
    <!-- footer -->
    <div class="y-bottom"></div>
    <script src="./index.js"></script>
</body>
</html>
