textarea,input.BigInput {
    box-sizing: border-box;
    width:100%;
	font-size:16px;
	height:50px;
    background-color: #F4F4F4;
    line-height:50px;
    line-height: 50px\9;
	padding-left:10px;
    vertical-align: middle;
    outline: none;
	color:#555555;
	vertical-align: middle;
	border: 1px solid #C0BBB4;
	border: 1px solid #cccccc;
    border-radius: 3px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	/* background: white url('../img/bg_input_text.png') top left repeat-x; */
}
input.SmallInput {
	width:220px;
	font-size:16px;
	height:48px;
	line-height:48px;
    line-height: 48px\9;
	padding:0 0 0 10px;
    background-color: #F4F4F4;
	color:#555555;
    outline: none;
	vertical-align: middle;
	/*border: 1px solid #C0BBB4;*/
	border: 1px solid #cccccc;
  	border-radius: 3px;
 	 /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	/* background: white url('../img/bg_input_text.png') top left repeat-x; */
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content{
    margin-top:86px;
    width:100%;
    height:auto;
    background:#DBDBDB;
    overflow: hidden;
}
.contentBox{
    width:60%;
    height:auto;
    margin:58px auto;
    background:#fff;
    border:1px solid #fff;
    border-radius: 7px;
}
.contentForm{
    width:50%;
    height:auto;
    /*border:1px solid red;*/
    margin:0 auto 40px;
}
.BigInput{
    width:97% !important;
    margin-left:3%;
}
.contentForm h2{
    text-align: center;
    font-size: 20px;
    color:#333333;
    margin:30px 0;
    font-weight: 600;
}
.contentForm  .item{
    position:relative;
}
 .contentForm span{
    position: absolute;
    top:20px;
    left: 0;
    font-size: 16px;
    color:#c60000;
}
 .contentForm input[type=button]{
    background:#2f8be6;
    color:#fff;
}
