<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../imgs/logo.ico">
    <title>智云服</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../fromBeginningToEnd/fromBeginningToEnd.css">
    <style>
        .y-header-box{
            background: #022b45;
        }
    </style>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <script src="../../resource/jquery/jquery-1.8.3.js"></script>
    <script src="../../resource/cookie/cookie.js"></script>
    <script src="../../resource/js/getHeaderAndBottom.js"></script>
    <script src="../../resource/js/api.js"></script>
</head>
<body>
    <div id="titles" style="overflow: hidden;height: 0;">developerCenter</div>
    <!-- header -->
    <div  class="y-header-box" style="">
        <div class="y-header"></div>
    </div>
    <!-- main -->
    <div>
        <img src="./img/banner.png" alt="" style="display: block;width: 100%;margin-bottom: 100px;cursor: pointer;" class="banner" onclick="goChildHomePage()">
        <div style="width: 1200px;margin: 0 auto;overflow: hidden;margin-bottom: 80px;">
            <div style="float: left;width: 300px;margin-right: 150px;cursor: pointer;" class="goQuickGetStart" >
                <img src="./img/1.png" alt="" style="display: block;width: 210px;height: 210px;margin: 0 auto;margin-bottom: 18px;">
                <p style="text-align: center;font-size: 22px;line-height: 66px;"><strong>快速入门</strong></p>
            </div>
            <div style="float: left;width: 300px;margin-right: 150px;cursor: pointer;" class="goDevelopmentDocument" >
                <img src="./img/2.png" alt="" style="display: block;width: 210px;height: 210px;margin: 0 auto;margin-bottom: 18px;">
                <p style="text-align: center;font-size: 22px;line-height: 66px;"><strong>开发文档</strong></p>
            </div>
            <div style="float: left;width: 300px;cursor: pointer;" class="goToolDownload">
                <img src="./img/3.png" alt="" style="display: block;width: 210px;height: 210px;margin: 0 auto;margin-bottom: 18px;">
                <p style="text-align: center;font-size: 22px;line-height: 66px;"><strong>工具下载</strong></p>
            </div>
        </div>
        <div style="position: relative;overflow: hidden;">
            <img src="./img/4.png" alt="" style="display: block;width: 100%;">
            <div style="position: relative;left: 0;top:0;width: 100%;height: 800px;background: #f6f6f6;">
                <div style="position: absolute;left: 50%;top: -150px;width: 1200px;bottom: 0;margin-left: -600px;">
                    <img src="./img/5.png" alt="" style="position:absolute;left: 50%;top: -20px;margin-left: -216px;">
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="y-bottom"></div>
    <script src="./index.js"></script>
</body>
</html>

