<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../imgs/logo.ico">
    <title>智云服</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../fromBeginningToEnd/fromBeginningToEnd.css">
    <script src="../../resource/jquery/jquery-1.8.3.js"></script>
    <script src="../../resource/cookie/cookie.js"></script>
    <script src="../../resource/js/getHeaderAndBottom.js"></script>
    <script src="../../resource/js/api.js"></script>
</head>

<body>
    <!-- header -->
    <div class="y-header-box">
        <div class="y-header"></div>
    </div>
    <!-- main -->
    <div class="y-newsDetail-main">
        <h1 class="y-newsDetail-main-header">共享经济+智能制造，共享叉车时代即将来临？</h1>
        <div style="overflow: hidden;margin-bottom: 50px;">
            <p class="y-newsDetail-time">
                <span class="y-newsDetail-times">2017-07-14</span><em>/智云服</em>
            </p>
            <div class="y-newsDetail-share">
                <span style="float: left;">分享至：</span>
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="float: left;">
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_tsina"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
        </div>
        <div class="y-newsDetail-info">
            <p class="y-newsDetail-infos">
                有了物联网云平台，才有了共享单车 共享经济，一般是指以获得一定报酬为主要目的，基于陌生人且存在物品使用权暂时转移的一种新的经济模式。其本质是整合线下的闲散物品、劳动力、教育医疗资源。有的也说共享经济是人们公平享有社会资源，各自以不同的方式付出和受益，共同获得经济红利。此种共享更多的是通过互联网作为媒介来实现的。 最耳熟能详的例子是共享单车。 共享单车从火速融资到纷纷展开服务体验的比拼，仅仅用了一年多的时间，市场一再升级；巨头也在伺机加入，ofo与中国电信、华为达成合作，摩拜与中国移动上海公司和爱立信携手同行；ofo、摩拜，小蓝、小鸣、7号，困扰共享单车选手的一边是“颜色不够用”，一边则是严重的商业模式同质化现象，技术升级成为品牌脱颖而出的制约因素。
                令人欣喜的是，从密码锁、扫码骑车，ofo日前宣布已完成全球首款“物联网智能锁”的配置，NB-IoT技术的应用使得共享单车成为共享经济在物联网领域的第一次群体突破，共享单车作为典型的低功耗广域市场应用，我们期望看到NB-IoT强链接、覆盖广、低功耗、低成本的技术优势使得用户体验、制造成本、运维便利性得到大幅的提升。 共享单车的模式是比较常见的“手机端—云端—单车端”的物联网应用架构，分别对应用户、物联网云平台和硬件终端。在这个过程中，需要解决共享单车海量设备的连接管理、数据计算和存储等高并发处理的问题；需要打造一套高性能、高可用、稳定可靠的应用；为抢夺市场与用户，一个简约易用交互良好的APP也需在计划之中。物联网云平台是否技术先进、业务成熟，在其中起着至关重要的作用。
                作为制造业重要支撑，叉车行业管理现状无法满足智能制造需求 叉车作为制造业不可缺少的物流装载工具，随着各行业的发展，其在生产、仓储、物流等环节的应用越来越广泛，对叉车的需求日益攀升；但与此同时，叉车原始管理方式上的缺陷也在逐渐暴露，叉车能量的利用率也成为被重视的问题。 1.监管规划问题 叉车需要穿梭于企业各个场所之间，在劳动密集型企业中，叉车数量大，在交通资源有限的情况下，叉车管理、人员管理、作业监督方面存在着明显的不足，不能对叉车实行实时定位监督，无法监督叉车实际工作情况，大量不适合的作业易造成叉车损耗严重。
                叉车搬运物料、设备时，还有一个比较基础的问题是叉车移动轨迹的规划问题。因为不仅仅是叉车，各场所之间人员的移动率也相当的大，在有限空间里面，如能妥善制定智能的叉车移动轨迹路线变得尤为重要，可有效防止事故的发生。 2.车辆统一管理问题 鉴于叉车的移动性与流动性特点，目前叉车租赁行业态势良好，但管理方式依然限制着该行业的发展与突破，管理方式的改革受限于技术的应用程度。租赁记录与叉车信息的不完整，叉车转售造成的登记、检验等资料的遗失，叉车质量轨迹无法溯源等等。现阶段叉车领域缺乏对车辆的全部信息进行汇总统一管理的能力，诸如车辆速度、电池电量、车辆撞击的强度、车辆待机时间、车辆工作时间、驾驶员信息等等，无法直观地向租车客户提供车辆信息；故障预警能力几乎为零，故障报警能力差，无法指导远程维修，叉车维修保养费用居高不下；无法向租车客户提供有关驾驶员与叉车利用效率的数据分析报告；车队效率与运行成本居高不下。
                3.车辆闲置问题 一方面，因各行旺季与淡季的不同，旺季时叉车供不应求，淡季时又需将闲置叉车设备进行出售或出租处理，环节复杂，导致叉车在某一时段会出现较低的使用率。另一方面，当企业出现突发性的叉车使用需求时，如不能及时获取，又将极大影响生产与运输。现有的叉车售卖租赁市场操作环节复杂多变，效率不高；信息不对称也极大影响交易成本的控制。 在工业4.0的今天，叉车行业传统的管理模式已经成为影响智慧物流与智能制造的发展重要因素。不只是叉车行业存在这样的问题，其他行业亦是如此，相对于生产技术的发展而言，管理模式的转变较为缓慢，先进的生产技术与传统的管理模式之间的冲突亟待解决。
                共享叉车或将成为共享经济在工业制造领域的一大突破 不仅仅是共享单车，共享经济还涌现出了更多的模式以及可能性，应用领域也将从消费转向工业制造，应用将更为广泛并且规模更大。近日，AbleCloud与佛朗斯集团达成深度战略合作协议，为佛朗斯提供物联网云服务以及适合的叉车工业级物联网云解决方案。佛朗斯集团作为国内叉车服务行业连锁经营模式的创建者和领导者，将携手AbleCloud对系统的关键技术进行更新升级，使系统达到“高可用、高并发、易扩展”性能；另一方面从管理服务入手，对集团内部型号繁多的叉车进行统一接入统一管理，重新进行业务系统的功能划分，一步到位为佛朗斯集团实现便捷精准的智慧管理服务；完成由传统叉车向智能叉车的转变，促使叉车行业快速升级，从而能够实现对接智能工厂的需求，以作为智慧物流服务的重要支撑。鉴于目前众多共享经济项目经验在先，共享经济模式对于叉车行业发展的优势在逐步显现，相信不久的将来也必将迎来工业物联网方向上共享经济的落地实践。
                之所以说共享叉车能够成为现实，首先，就现代物流的系统与资源性质而言，物流信息资源、物流技术与设备资源、仓储设施资源、终端配送资源、物流人力资源等都是可以共享的物流资源，叉车做为现代物流中物料搬运设备，共享的可实践性极高。在共享经济模式下，闲置叉车的使用率得以提高；通过共享叉车实现物流资源优化配置，从而提高物料搬运工作效率、降低成本；满足企业突发性、季节性以及长期需求，节省在企业在设备维护、维修和管理上的人力、物力成本；商业模式发生改变，取代传统商业模式“劳动者—企业—消费者”的模式，转变为“劳动者—共享平台—消费者”的共享。
            </p>
        </div>
    </div>
    <!-- footer -->
    <div class="y-bottom"></div>
    <script src="./index.js"></script>
</body>

</html>
