select,textarea,input.BigInput {
    box-sizing: border-box;
    width:100%;
	font-size:16px;
	height:50px;
    background-color: #F4F4F4;
    line-height:50px;
    line-height: 50px\9;
	padding-left:10px;
    vertical-align: middle;
    outline: none;
	color:#555555;
	vertical-align: middle;
	border: 1px solid #C0BBB4;
	border: 1px solid #cccccc;
    border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	/* background: white url('../img/bg_input_text.png') top left repeat-x; */
}
input.SmallInput {
	width:220px;
	font-size:16px;
	height:48px;
	line-height:48px;
    line-height: 48px\9;
	padding:0 0 0 10px;
    background-color: #F4F4F4;
	color:#555555;
    outline: none;
	vertical-align: middle;
	/*border: 1px solid #C0BBB4;*/
	border: 1px solid #cccccc;
  	border-radius: 3px;
 	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	/* background: white url('../img/bg_input_text.png') top left repeat-x; */
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content{
    margin-top:60px;
    width:100%;
    height:auto;
    background:#DBDBDB;
    overflow: hidden;
}
.contentBox{
    width:60%;
    height:auto;
    margin:58px auto;
    background:#fff;
    border:1px solid #fff;
    border-radius: 7px;
}
.contentForm{
    width:50%;
    height:auto;
    /*border:1px solid red;*/
    margin:0 auto 40px;
}
.BigInput{
    width:97% !important;
    margin-left:3%;
}
.SmallInput{
    margin-left:3%;
}
.contentForm table td.rdTop{
    position: relative;
    width:100px;
}
.contentForm table td.rdTop label{
    position: absolute;
    top:15px;
    right:5px;
    color:#333333;
    font-size: 14px;
}
.contentForm table td.rdTop label span{
    color:#c60000;
    font-size: 16px;
}
 .contentForm input[type=button]{
    background:#2f8be6;
    color:#fff;
}

.contentHeader span{
    font-size: 20px;
    color:#333;
}

/*省市二级联动样式*/
#province,#city ,.mySelect{
    background: #fff;
    padding: 10px 0 10px 10px;
    /*padding：8px 09;*/
    background:#F4F4F4;
}
/*上传图片设置大小*/
#companyllogo{
    width:100%;
    height:100%;
    /*margin-left: 3%;*/
}

/*上传图片外面的box*/
.boxImg{
    width:60%;
    height:150px;
    margin-bottom:20px;
    margin-left: 3%;
    display: none;
    position: relative;
}
/*input上传按钮背静logo*/
.uploadLogo{
    position:absolute;
    right:0;
    top:0;
    width:35% !important;
    height:50px;
    text-align:center;
    background:#2F8BE6;
    color:#fff;
}

/*input上传按钮*/
#companyLogo{
    position:absolute;
    right:0;
    top:0;
    width:35%;
    height:50px;
    filter:alpha(Opacity=0);
    -moz-opacity:0;
    opacity: 0;
    z-index:999;
}
.firstLogon{
    color:#2f8be6;
    margin-top:20px;
    text-decoration: none;
    display: none;
}
#upload{
    position:fixed;
    top:40%;
    left:50%;
    width:200px;
    height:50px;
    margin-top:-35px;
    margin-left:-70px;
    display: none;
    overflow: hidden;
    border:none;
    outline: none;
    z-index: 9999999;
}
