<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../imgs/logo.ico">
    <title>智云服</title>
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../resource/validform/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../resource/jBox/Skins/Blue/jbox.css"/>
    <style>
        html,body{
            height:100%;
            font-family: "MicrosoftYaHei";
        }
        .getHandle{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="w-header">
    <div style="float:left">
        <a href="../../index.html"><img src="../../imgs/logo-small.png" alt="智云服logo" title="智云服" style='vertical-align:middle;'></a>
    </div>
    <a class="goIndex" title="返回智云服首页" href="../../index.html">返回首页</a>
</div>
<div class='w-contentt'>
    <div class="w-content" style="width:435px;">
        <form id="form" autocomplete="off">
                <h2 >重置密码</h2>
            	<div class="item">
                    	<input type="text" value="" autocomplete="off" name="customerAccount" id="customerAccount" class="BigInput"  datatype="m | e" nullmsg="请填写注册手机号或者邮箱" errormsg="请填写正确的手机号或者邮箱" placeholder="注册手机号/注册邮箱"/>
                        <div class="Validform_checktip Validform_email"></div>
                </div>
                <div class="item" style="position:relative;">
                    	<input type="text" style="width:58%;" value="" autocomplete="off" name="getCodeValue" id="getCodeValue" class="SmallInput" datatype="n" nullmsg="请填写验证码" errormsg="验证码格式不正确" placeholder="手机号/邮箱验证码"/>
                        <div class="Validform_checktip Validform_checktip_code"></div>
                        <input class="SmallInput getCode" type="button" id="getCode" style="cursor: pointer;" title="发送验证码" onclick="getCodeNote()"  value='发送验证码'/>
                </div>
                <div class="item">
                    	<input type="password" autocomplete="off" value="" name="customerPassword" class="BigInput" id="customerPassword" datatype="*6-18" nullmsg="请设置密码！" errormsg="密码范围在6~18位之间" placeholder="新密码"/>
                        <div class="Validform_checktip"></div>
                </div>
                <div class="item">
                        <input type="password" value="" name="userpassword2" autocomplete="off"  class="BigInput" datatype="*" recheck="customerPassword" nullmsg="请再输入一次密码" placeholder="确认密码" errormsg="两次填写的密码不一致" />
                        <div class="Validform_checktip"></div>
                </div>
                <div class="item" style="text-align:center;height:120px;line-height:100px;">
                	<input type="button"  class="BigInput getHandle" value="重  置" title="重置"  onclick="getHandle()"/>
                </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../../resource/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../../resource/validform/Validform_v5.3.2.js"></script>
<script type="text/javascript" src="../../resource/js/tools.js"></script>
<script type="text/javascript" src="../../resource/jBox/jquery.jBox-2.3.min.js"></script>
<script type="text/javascript" src="../../resource/jBox/i18n/jquery.jBox-zh-CN.js"></script>
<script type="text/javascript" src="../../resource/js/api.js"></script>
<script type="text/javascript" src="../../resource/jquery/jQuery.XDomainRequest.js"></script>
<script type="text/javascript">
$(function(){
    //设置开关判断是否是ie8-9
    var isflag=false;
    var input = document.createElement('input');
    if("placeholder" in input){
        // alert("支持")
        isflag=true;
    }else{
        // alert("不支持")
        isflag=false;
        JPlaceHolder.init();
    }

    //input 获得焦点的时候背景颜色的改变
    $("input[type=text],input[type=password]").focus(function(event) {
        /* Act on the event */
        $(this).css("background","#fff");
    });


    // validform 进行表单的验证以及数据的提交
    $("#form").Validform({
        dataType:{
            "s6-18":/^[\w\W]{6,18}$/
        },
		tiptype:function(msg,o,cssctl){
			if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                if(isflag){
                    var objtip=o.obj.siblings(".Validform_checktip").show();
                }else{
                    var objtip=o.obj.parent().siblings(".Validform_checktip").show();
                }
				cssctl(objtip,o.type);
				objtip.text(msg);
                $(".Validform_right").text("")
			}
		},
        showAllError:false,
        beforeSubmit:function(form){

            // if($("#customerAccount").val() == ""){
            //     $("#customerAccount").blur();
            //     return ;
            // };

            var param={
                "customerAccount":$("#customerAccount").val(),
                "newPass":$("#customerPassword").val(),
            }
            // console.log(param)
            getData(api.handleReSetPass,param,"post",true,function(json){
                console.log(json)
                // json.key =
                if(json.rtState){
                    top.$.jBox.tip(json.rtMsg,"success",{
                        timeout:500,
                        closed:function(){
                            delCookie("customerPassword","",-1);
                            delCookie("codeValue","",-1);
                            window.location.href="../login/index.html";
                        }
                    });
                }else{
                    top.$.jBox.tip(json.rtMsg,"error");
                    clearTimeout(timer);
                    $("#getCode").removeAttr('disabled').val("发送验证码").css("background","#2F8BE6");
                    $("#customerAccount").removeAttr('disabled');
                }
            });
            return false;
        }
	});
    getHeight();
    if($(window).height()<650){
        $(".w-content").css("top",57+"%")
    }
})

// 改变窗口大小获得页面的高度
window.onresize = function(){
    getHeight();
}
//初始化获得页面的高度
function getHeight(){
    var height=document.body.clientHeight-60;
    // console.log(height)
    $(".w-contentt").height(height+"px")
}

//点击获取验证码
function getCodeNote(){
    // $("#customerAccount").css({"background":"#2F8BE6"},{"color":"#fff"});
    var customerAccount =$("#customerAccount").val();
    //邮箱正则
    var reg =/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
    //手机正则
    var phone =/^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$/;
    if(!reg.test(customerAccount) && !phone.test(customerAccount)){
        $("#customerAccount").addClass('Validform_error');
        if(customerAccount==""){
            $(".Validform_email").addClass('Validform_wrong').text("请填写手机号或邮箱")
        }else{
            $(".Validform_email").addClass('Validform_wrong').text("请填写正确格式手机号或邮箱")
        }
        $("#getCode").attr("disabled",false)
        return ;
    }
    var param={
        "customerAccount":$("#customerAccount").val()
    }
    var json = getData(api.handleReSetPassCode,param,"get",false);
    console.log(json)
    if(json.rtState){
        top.$.jBox.tip("验证码已成功发送","success",{
            timeout:2000
        });
        $("#customerAccount").attr('disabled', true);
        $("#getCode").attr('disabled',true);
        var date= new Date();
        date.setTime(date.getTime()*1+10*60*1000); //设置date为当前时间+10分
        // setCookie("codeValue",json.rtData,10);
        document.cookie = "codeValue" + "=" + escape(json.rtData) + ";path=/;expires="
    			+ date.toGMTString();

    }else{
        top.$.jBox.tip(json.rtMsg,"error");
        clearTimeout(timer);
        $("#getCode").removeAttr('disabled');
        $("#customerAccount").removeAttr('disabled')
    }
    var obj = $("#getCode");
    settime(obj);
}
//120秒倒计时
var countdown=120;
function settime(obj) { //发送验证码倒计时
    if (countdown == 0) {
        obj.attr('disabled',false);
        $("#customerAccount").removeAttr('disabled');
        //obj.removeattr("disabled");
        obj.css({"background":"#2F8BE6"})
        obj.val("重新获取验证码");
        countdown = 120;
        return;
    } else {
        obj.attr('disabled',true).css("background","#61a9ef");
        obj.val("重新发送(" + countdown + ")");
        $("#customerAccount").attr('disabled', true);
        countdown--;
    }
    timer =setTimeout(function() {
        settime(obj)
    },1000)

}
//提交数据
function getHandle(){
    if($("#customerAccount").val()==""){
        $("#customerAccount").blur();

        return ;
    };
    if($("#getCodeValue").val() == ""){
        $("#getCodeValue").blur();
        return ;
    };
    var codeValue = getCookie("codeValue");
    // console.log(codeValue)
    if(codeValue=="null" || codeValue==null){
        $("#getCodeValue").addClass('Validform_error');
        $(".Validform_checktip_code").addClass('Validform_wrong').text("验证码已失效");

        return ;
    }
    // console.log($("#getCodeValue").val())
    if($("#getCodeValue").val() != codeValue){
        $("#getCodeValue").addClass('Validform_error');
        $(".Validform_checktip_code").addClass('Validform_wrong').text("验证码不正确");
        return ;
    }
    $("#form").submit();
}
</script>
</body>
</html>
